<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Navbar</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="NavController">
    <header class="header container" ng-class="{'scrolled': isScrolled}">
        <div class="nav-bar">
            <div class="nav-list">
                <div class="hamburger" ng-click="toggleMenu()" ng-class="{'active': menuActive}">
                    ☰
                </div>
                <ul ng-class="{'active': menuActive}">
                    <li><a href="#home" ng-click="closeMenu()">Home</a></li>
                    <li><a href="#about" ng-click="closeMenu()">About</a></li>
                    <li><a href="#services" ng-click="closeMenu()">Services</a></li>
                    <li><a href="#contact" ng-click="closeMenu()">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
